spring:
  application:
    name: shopping
  datasource:
    url: jdbc:mysql://localhost:3306/shoppingking
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: shoppingking
    password: shoppingking
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
  security:
    jwt:
      secret: mysecretkey
      expiration: 86400000